{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/strict-type-checked",
    "plugin:@typescript-eslint/stylistic-type-checked",
    "plugin:prettier/recommended",
    "plugin:unicorn/recommended",
    "plugin:node/recommended"
  ],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "unicorn/prefer-module": "off",
    "unicorn/prefer-top-level-await": "off",
    "unicorn/prevent-abbreviations": "off",
    "no-console": "warn",
    "node/no-missing-import": "off",
    "node/no-unsupported-features/es-syntax": [
      "error",
      { "ignores": ["modules"] }
    ],
    "node/no-unpublished-import": "off",
    "no-process-exit": "off",
    "@typescript-eslint/restrict-template-expressions": [
      "error",
      { "allowNumber": true }
    ]
  },
  "overrides": [
    {
      "files": ["*.js", "*.mjs", "*.cjs"],
      "extends": ["plugin:@typescript-eslint/disable-type-checked"]
    },
    {
      "files": ["*.module.ts"],
      "rules": {
        "@typescript-eslint/no-extraneous-class": "off"
      }
    },
    {
      "files": ["scripts/**"],
      "rules": {
        "no-console": "off"
      }
    },
    {
      "files": ["tests/performance/**"],
      "rules": {
        "unicorn/numeric-separators-style": "off",
        "unicorn/no-anonymous-default-export": "off",
        "@typescript-eslint/no-unsafe-call": "off",
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/no-unsafe-member-access": "off",
        "no-undef": "off"
      }
    }
  ],
  "env": {
    "node": true
  }
}